.contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 40px;
}

.contact .mini-heading {
    text-align: left;
    color: #333;
}

.booking-section {
    flex: 1;
    padding: 25px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.booking-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.contact-info {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background-color: #c5aa85;
    color: #f2f2f2;
}

.contact-info h2 {
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
}

.contact-info p {
    font-size: 20px;
    padding: 10px;
    color: #f2f2f2;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.contact-item i {
    font-size: 20px;
    margin-right: 10px;
    color: #f2f2f2;
}

.contact-item p {
    font-size: 16px;
}

.social-media-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-media-icons i {
    font-size: 30px;
    margin-right: 10px;
    padding: 12px;
}

.social-media-icons i:hover {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 1px solid black;
    background-color: #000000;
    border-radius: 50%;
    padding: 8px;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-top: 20px;
    }

    .contact .mini-heading {
        text-align: center;
    }

    .booking-section {
        padding: 15px;
        margin-top: 20px;
    }

    .booking-section h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .contact-info {
        padding: 10px;
        margin-top: 20px;
    }

    .contact-info h2 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .contact-info p {
        font-size: 18px;
        padding: 5px;
    }

    .contact-item {
        flex-direction: row;
    }

    .contact-item i {
        font-size: 20px;
        margin-right: 5px;
        line-height: 35px;
        color: #222;
    }

    .contact-item p {
        font-size: 16px;
        text-align: center;
    }

    .social-media-icons {
        margin-top: 10px;
    }

    .social-media-icons i {
        font-size: 24px;
        margin-right: 5px;
        transition: .5s ease;
    }

}